<h1>Change your password</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  
  <dl>
    <dt><%= f.label :password, "New password" %></dt>
    <dd><%= f.password_field :password %></dd>
    
    <dt><%= f.label :password_confirmation, "Confirm new password" %></dt>
    <dd><%= f.password_field :password_confirmation %></dd>
  </dl>
  
  <p><%= f.submit "Change my password" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>