<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <dl class="form">
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>
    
    <dt><%= f.label :path %></dt>
    <dd><%= f.text_field :path %></dd>
  </dl>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
