<p id="notice"><%= notice %></p>

<h2><%= @project.name %> » Features</h2>
<p>Path: <%= @project.path %></p>

<h3>Features</h3>
<ul>
  <%= render :partial => "feature", :collection => @project.features -%>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<p><%= image_tag "ajax-loader.gif", :id => "ajax_loader", :style => "display:none;" -%></p>

<script type="text/javascript">
  document.observe('dom:loaded', function() {
    App.debug('loaded');
    
    var ws = new WebSocket("ws://localhost:3000/socket"),
        loader = $('ajax_loader');
    
    function sendMessage(message, data) {
      App.debug('sending "' + message + '"');
      data = data || {};
      data.project_id = <%= @project.id %>;
      ws.send(JSON.stringify({message: message, data: data}));
    }
    
    function applyResult(data) {
      App.debug(data);
      var feature = $$('li[data-path="' + data.feature_file + '"]')[0];
      data.scenarios.__each(function(scenario) {
        var li = feature.down('li[data-line="' + scenario.line + '"]');
        li.className = 'scenario ' + scenario.status;
      });
    }
    
    ws.onmessage = function(e) { 
      var json = JSON.parse(e.data),
          message = json.message,
          data = json.data || {};
      
      App.debug('received "' + message + '"' + (data.project_id ? (' for project ' + data.project_id) : ''));
      
      if(data.project_id == <%= @project.id %>) {
        switch(message) {
          case 'started':
            break;
            
          case 'finished':
            loader && loader.hide();
            break;
            
          case 'result':
            applyResult(data);
            break;
        }
      }
    };
    ws.onclose = function() { App.debug('closed'); };
    ws.onopen = function() { 
      App.debug('open');
      sendMessage('execute', {features: 'all'});
      loader && loader.show();
    };
  });
</script>
