<p id="notice"><%= notice %></p>

<h2><%= @project.name %> » Features</h2>
<p>Path: <%= @project.path %></p>

<h3>Features</h3>
<ul>
  <%= render :partial => "feature", :collection => @project.features -%>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<script type="text/javascript">
  document.observe('dom:loaded', function() {
    App.debug('loaded');
    
    var ws = new WebSocket("ws://localhost:3000/socket");
    
    function sendMessage(message, data) {
      App.debug('sending ' + message);
      ws.send(JSON.stringify({message:message, data:data}));
    }
    
    ws.onmessage = function(e) { 
      var json = JSON.parse(e.data),
          message = json.message,
          data = json.data;
      App.debug('received ' + message);
    };
    ws.onclose = function() { App.debug('closed'); };
    ws.onopen = function() { 
      App.debug('open');
      sendMessage('execute', {project:<%= @project.id %>, features:'all'});
    };
  });
</script>
