<p id="notice"><%= notice %></p>

<h2><%= link_to "Projects", projects_path %> » <%= @project.name %> » Features</h2>
<p>Path: <%= @project.path %></p>

<h3>Features</h3>
<div id="features">
  <ul class="tree">
    <%= render :partial => "feature", :collection => @project.features -%>
  </ul>
</div>

<button id="run_examples">Test Features</button>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<p><%= image_tag "ajax-loader.gif", :id => "ajax_loader", :style => "display:none;" -%></p>

<script type="text/javascript">
  $(function() {
    App.debug('loaded');
    RunExamples.init({
      socket_url: '<%= socket_url %>',
      project_id: <%= @project.id %>
    });
    new Collapsable('#features');
  });
</script>
