<p id="notice"><%= notice %></p>

<h2><%= @project.name %> » Features</h2>

<h3>Feature files</h3>
<ul>
<% Dir.glob(File.join(@project.path_to_features, '**/*.feature')).each do |f| %>
  <li><%= render_feature(f) %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
