<p id="notice"><%= notice %></p>

<h2><%= link_to "Projects", projects_path %> » <%= @project.name %></h2>

<div class="split-screen">
  <div class="left">
    <h3>Features <button id="run_examples">Test Features</button></h3>
    <div id="features">
      <ul class="tree">
        <%= render :partial => "feature", :collection => @project.features -%>
      </ul>
    </div>
  </div>
  <div class="right">
    <div id="scenario"></div>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<p><%= image_tag "ajax-loader.gif", :id => "ajax_loader", :style => "display:none;" -%></p>

<script type="text/javascript">
  $(function() {
    App.debug('loaded');
    RunExamples.init({
      socket_url: '<%= socket_url %>',
      project_id: <%= @project.id %>
    });
    new Collapsable('#features');
    
    $('#features').delegate('a.scenario-steps-link', 'click', function(e) {
      e.stopPropagation();
      e.preventDefault();
      var a = $(this);
      $('.scenario-steps-link.selected').removeClass('selected');
      a.addClass('selected');
      $.get(a.attr('href'), function(response) {
        $('#scenario').html(response);
      })
    });
    
    $('.scenario').each(function() {
      var a = $(this);
      if(a.hasClass('tag-human')) {
        a.find('.caption').append('<img width="14" height="14" class="icon" src="<%= asset_path("icons/user.png") %>" title="This feature must be tested manually." />');
      }
      if(a.hasClass('tag-javascript')) {
        a.find('.caption').append('<img width="14" height="14" class="icon" src="<%= asset_path("icons/script_code.png") %>" title="This feature requires JavaScript" />');
      }
    });
    
    function resizeFeatures() {
      $('#features').height($(window).height() - 200);
    }
    $(window).resize(resizeFeatures);
    resizeFeatures();
  });
</script>
