<%= fields_for :scenario, @selected_scenario do |f| -%>
  <div class="scenario-title">
    <h3><%= f.text_field :name %></h3>
    <%= submit_tag "Save Changes" -%>
    <%= link_to "Cancel", @selected_scenario.new_record? ? :back : scenario_path(@selected_scenario), :class => "button" -%>
  </div>
  <div class="scenario-steps">
    <%= f.text_area :body, :wrap => "off" -%>
  </div>
<% end -%>
