<%= flash_message :error %>

<%= form_tag scenario_path(@selected_scenario), :method => :put do
    fields_for :scenario, @selected_scenario do |f| %>
<div class="scenario-title">
  <h3><%= f.text_field :name %></h3>
  <%= submit_tag "Save Changes" -%>
  <%= link_to "Cancel", scenario_path(@selected_scenario), :class => "button" -%>
</div>
<div class="scenario-steps">
  <textarea name="scenario[body]" id="scenario_body" wrap="off"><%= @selected_scenario.render_body.lines.map {|line| line[4..-1] }.join %></textarea>
</div>
<%  end
   end %>
