<div class="scenario-title">
  <h3><%= @selected_scenario.name %></h3>
  <%= link_to "Edit", edit_scenario_path(@selected_scenario), :class => "button" %>
</div>
<div class="scenario-steps">
  <ul>
    <%= render :partial => "step", :collection => @selected_scenario.steps %>
    <% if @selected_scenario.examples -%>
    <li>
      <span class="scenario-step-term">Examples:</span>
      <%= render :partial => "partials/table", :object => @selected_scenario.examples %>
    </li>
    <% end -%>
  </ul>
</div>
<div class="scenario-tags">
  <% @selected_scenario.tags.each do |tag| %>
    <%= render_tag(tag) %>
  <% end %>
</div>
