<div class="scenario-title">
  <h3><%= @scenario.name %></h3>
  <%= link_to("Edit", edit_scenario_path(@scenario), :class => "button") if can?(:edit, @project => Scenario) %>
</div>
<div class="scenario-steps">
  <ul>
    <%= render :partial => "step", :collection => @scenario.steps %>
    <% if @scenario.examples -%>
    <li>
      <span class="scenario-step-term">Examples:</span>
      <%= render :partial => "partials/table", :object => @scenario.examples %>
    </li>
    <% end -%>
  </ul>
</div>
<div class="scenario-tags">
  <% @scenario.tags.each do |tag| %>
    <%= render_tag(tag) %>
  <% end %>
</div>
