<!DOCTYPE html>
<html>
<head>
  <title>Tsatsiki</title>
  <%= stylesheet_link_tag    "application" %>
  <link href="http://fonts.googleapis.com/css?family=PT+Sans&v2" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="interior">
  
  <div class="banner">
    <h2 class="logo"><%= link_to(root_url, :class => "natural") { image_tag "tsatsiki-60.png", :height => 60, :width => 229, :alt => "Tsatsiki" } %></h2>
    <% if (page_context = yield :page_context) -%>
      <div class="page-context"><%= page_context %></div>
    <% end -%>
    
    <%= render :partial => "layouts/authentication" unless devise_controller? -%>
  </div>
  
  <%# Where is the best place for these? %>
  <%= flash_message :notice %>
  <%= flash_message :error %>
  
  <%= yield %>
  
  <%= include_freight_train :adapter => :jquery %>
</body>
</html>
