<!DOCTYPE html>
<html>
<head>
  <title>Tsatsiki</title>
  <%= stylesheet_link_tag    "application" %>
  <link href="http://fonts.googleapis.com/css?family=PT+Sans&v2" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
  
  <div class="banner">
    <div class="container">
      <%= image_tag "tsatsiki-120.png", :height => 120, :width => 457, :alt => "Tsatsiki" %>
    </div>
    
    <%= render :partial => "layouts/authentication" %>
  </div>
  
  <div class="container">
    <%= flash_message :notice %>
    <%= flash_message :error %>
    <%= flash_message :alert %>
    <%= yield %>
  </div>
  
</body>
</html>
