<%= within_layout("application") do %>

<p id="notice"><%= notice %></p>

<h2><%= link_to "Projects", projects_path %> » <%= @project.name %></h2>

<div class="split-screen">
  <div class="left">
    <h3><%= @project.feature_count %> Features <button id="run_examples">Test Features</button></h3>
    <div id="features">
      <ul class="tree">
        <%= render :partial => "projects/feature", :collection => @project.features -%>
      </ul>
    </div>
  </div>
  <div class="right">
    <div id="scenario">
      <%= yield %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<p><%= image_tag "ajax-loader.gif", :id => "ajax_loader", :style => "display:none;" -%></p>

<script type="text/javascript">
  $(function() {
    App.debug('loaded');
    RunExamples.init({
      socket_url: '<%= socket_url %>',
      project_id: <%= @project.id %>
    });
    new Collapsable('#features');
    
    
    
    $('a.scenario-steps-link').click(updateSelectedScenario)
                              .pjax('#scenario')
                              .dblclick(renameSelectedItem);
    
    var selectedItem = $('.scenario-steps-link.selected');
    
    function updateSelectedScenario(e) {
      var a = $(this);
      if(a.hasClass('selected')) {
        e.preventDefault();
        e.stopImmediatePropagation();
      } else {
        selectScenario(a);
      }
    }
    
    function selectScenario(a) {
      selectedItem && selectedItem.removeClass('selected');
      selectedItem = a;
      selectedItem && selectedItem.addClass('selected');
    }
    
    
    
    $(document.body).keyup(function(e) {
      if(selectedItem) {
        (e.keyCode == 13) && renameSelectedItem();
        if(e.keyCode == 38) {
          e.preventDefault();
          e.stopImmediatePropagation();
          selectPrevious();
        }
        if(e.keyCode == 40) {
          e.preventDefault();
          e.stopImmediatePropagation();
          selectNext();
        }
      }
    });
    
    function selectPrevious() {
      selectedItem && selectedItem.up('a.scenario-steps-link').click();
    }
    
    function selectNext() {
      selectedItem && selectedItem.down('a.scenario-steps-link').click();
    }
    
    
    
    function renameSelectedItem() {
      if(selectedItem) {
        var caption = selectedItem.parent(),
            input = $(document.createElement('input'));
        
        input.attr('type', 'text')
             .addClass('renamer')
             .blur(abortRename)
             .keyup(__onKeyUpInRename)
             .val(selectedItem.text())
             .prependTo(caption)
             .select();
        selectedItem.addClass('being-renamed').hide();
      }
    }
    
    function commitRename() {
      if(selectedItem) {
        var input = $('.renamer'),
            name  = input.val();
        if(name) {
          selectedItem.html(name);
          saveName(selectedItem.attr('href'), name);
        }
      }
      __endRename();
    }
    
    function abortRename() {
      __endRename();
    }
    
    function __endRename() {
      $('.renamer').remove();
      $('.being-renamed').show();
    }
    
    function __onKeyUpInRename(e) {
      if(e.keyCode == 13) { // Enter
        e.stopImmediatePropagation();
        commitRename();
      }
      if(e.keyCode == 27) { // Escape
        e.stopImmediatePropagation();
        abortRename();
      }
    }
    
    
    
    function saveName(url, name) {
      $.put(url, {name: name});
    }
    
    
    
    $('.scenario').each(function() {
      var a = $(this);
      if(a.hasClass('tag-human')) {
        a.find('.caption').append('<img width="14" height="14" class="icon" src="<%= asset_path("icons/user.png") %>" title="This feature must be tested manually." />');
      }
      if(a.hasClass('tag-wip') || a.hasClass('tag-todo')) {
        a.find('.caption').append('<img width="14" height="14" class="icon" src="<%= asset_path("icons/page_edit.png") %>" title="This feature is not yet implemented" />');
      }
    });
    
    function resizeFeatures() {
      $('#features').height($(window).height() - 200);
    }
    $(window).resize(resizeFeatures);
    resizeFeatures();
  });
</script>

<% end %>