<%= within_layout("application") do %>

<% content_for :page_context do -%>
  <p class="breadcrumbs">
    <%= link_to "Projects", projects_path, :class => "breadcrumb" %>/<%= link_to @project.name, project_path(@project), :class => "breadcrumb current" %>
  </p>
  <p class="tabs">
    <%= link_to("Features", project_features_path(@project), :class => project_features_class) if can?(:read, :features) -%>
    <%= link_to("Specification", project_specification_path(@project), :class => project_specification_class) if can?(:read, :features) -%>
    <%= link_to("Settings", edit_project_path(@project), :class => edit_project_class) if can?(:update, @project)-%>
  </p>
<% end -%>

<%= yield %>

<% end %>